<a href="https://colab.research.google.com/github/handielg/Python/blob/main/Pandas_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

Por lo general, importamos pandas de la siguiente manera:

In [ ]:
import pandas as pd
import numpy as np #importamos numpy para funciones adicionales.

Si queremos crear un dataframe y nombrar sus columnas hacemos lo siguiente:
Construyendo DataFrame a partir de un diccionario.

In [ ]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df

   col1  col2
0     1     3
1     2     4

Observemos que el dtype (tipo de datos) inferido es int64.

In [ ]:
df.dtypes

col1    int64
col2    int64
dtype: object

Para modificar el tipo de datos de todo el dataframe hacemos lo siguiente:

In [ ]:
df = pd.DataFrame(data=d, dtype=np.int8)
df.dtypes

col1    int8
col2    int8
dtype: object

In [ ]:
d

{'col1': [1, 2], 'col2': [3, 4]}

Construyendo DataFrame a partir de numpy ndarray:

In [ ]:
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), columns=['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9