<a href="https://colab.research.google.com/github/handielg/Python/blob/main/yfinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#yfinance

`yfinance` tiene como objetivo ofrecer una manera confiable de descargar datos históricos del mercado de finanzas desde Yahoo Finance!

In [1]:
!pip install yfinance

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/7a/e8/b9d7104d3a4bf39924799067592d9e59119fcfc900a425a12e80a3123ec8/yfinance-0.1.55.tar.gz
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.1.2)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading https://files.pythonhosted.org/packages/79/37/d420b7fdc9a550bd29b8cfeacff3b38502d9600b09d7dfae9a69e623b891/lxml-4.5.2-cp36-cp36m-manylinux1_x86_64.whl (5.5MB)
     |████████████████████████████████| 5.5MB 3.5MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22618 sha256=d2f91b44e934b7ec098f096572ffe60f74edde51214a6bca9fa39c28600e2c74
  Stored in directory: /root/.cache/pip/wheels/04/98/cc/2702a4242d60bdc14f48b4557c427ded1fe92aedf257d4565c
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.5.2 yfinance-0.1.55

In [2]:
import yfinance as yf

Ejemplos:

In [ ]:
TK = yf.Ticker("MSFT") #definimos TK con el nombre del ticker introducido.

In [ ]:
# Obtener información de la empresa.
TK.info

{'52WeekChange': 0.59857357,
 'SandP52WeekChange': 0.16647923,
 'address1': 'One Microsoft Way',
 'algorithm': None,
 'annualHoldingsTurnover': None,
 'annualReportExpenseRatio': None,
 'ask': 220.07,
 'askSize': 1000,
 'averageDailyVolume10Day': 27025187,
 'averageVolume': 33866804,
 'averageVolume10days': 27025187,
 'beta': 0.923331,
 'beta3Year': None,
 'bid': 0,
 'bidSize': 800,
 'bookValue': 15.626,
 'category': None,
 'circulatingSupply': None,
 'city': 'Redmond',
 'companyOfficers': [],
 'country': 'United States',
 'currency': 'USD',
 'dateShortInterest': 1601424000,
 'dayHigh': 220.35,
 'dayLow': 216.01,
 'dividendRate': 2.24,
 'dividendYield': 0.010199999,
 'earningsQuarterlyGrowth': -0.151,
 'enterpriseToEbitda': 24.639,
 'enterpriseToRevenue': 11.243,
 'enterpriseValue': 1607928643584,
 'exDividendDate': 1605657600,
 'exchange': 'NMS',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'expireDate': None,
 'fiftyDayAverage': 212.05457,
 'fiftyTwoWeekHigh': 232.86,
 'fiftyTwoWeekLow': 132.52,
 'fiveYearAverageReturn': None,
 'fiveYearAvgDividendYield': 1.8,
 'floatShares': 7455727348,
 'forwardEps': 7.33,
 'forwardPE': 29.967258,
 'fromCurrency': None,
 'fullTimeEmployees': 163000,
 'fundFamily': None,
 'fundInceptionDate': None,
 'gmtOffSetMilliseconds': '-14400000',
 'heldPercentInsiders': 0.014249999,
 'heldPercentInstitutions': 0.74093,
 'industry': 'Software—Infrastructure',
 'isEsgPopulated': False,
 'lastCapGain': None,
 'lastDividendDate': 1597795200,
 'lastDividendValue': 0.51,
 'lastFiscalYearEnd': 1593475200,
 'lastMarket': None,
 'lastSplitDate': 1045526400,
 'lastSplitFactor': '2:1',
 'legalType': None,
 'logo_url': 'https://logo.clearbit.com/microsoft.com',
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. Its Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, and Skype for Business, as well as related Client Access Licenses (CAL); Skype, Outlook.com, and OneDrive; LinkedIn that includes Talent, Learning, Sales, and Marketing solutions, as well as premium subscriptions; and Dynamics 365, a set of cloud-based and on-premises business solutions for small and medium businesses, large organizations, and divisions of enterprises. Its Intelligent Cloud segment licenses SQL and Windows Servers, Visual Studio, System Center, and related CALs; GitHub that provides a collaboration platform and code hosting service for developers; and Azure, a cloud platform. It also offers support services and Microsoft consulting services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification to developers and IT professionals on various Microsoft products. Its More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; Windows Internet of Things; and MSN advertising. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other intelligent devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. It sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. The company was founded in 1975 and is headquartered in Redmond, Washington.',
 'longName': 'Microsoft Corporation',
 'market': 'us_market',
 'marketCap': 1662310023168,
 'maxAge': 1,
 'maxSupply': None,
 'messageBoardId': 'finmb_21835',
 'morningStarOverallRating': None,
 'morningStarRiskRating': None,
 'mostRecentQuarter': 1593475200,
 'navPrice': None,
 'netIncomeToCommon': 44280999936,
 'nextFiscalYearEnd': 1656547200,
 'open': 217.1,
 'openInterest': None,
 'payoutRatio': 0.3455,
 'pegRatio': 2.29,
 'phone': '425-882-8080',
 'previousClose': 220.86,
 'priceHint': 2,
 'priceToBook': 14.057341,
 'priceToSalesTrailing12Months': 11.623326,
 'profitMargins': 0.30962,
 'quoteType': 'EQUITY',
 'regularMarketDayHigh': 220.35,
 'regularMarketDayLow': 216.01,
 'regularMarketOpen': 217.1,
 'regularMarketPreviousClose': 220.86,
 'regularMarketPrice': 217.1,
 'regularMarketVolume': 22733064,
 'revenueQuarterlyGrowth': None,
 'sector': 'Technology',
 'sharesOutstanding': 7567649792,
 'sharesPercentSharesOut': 0.0052,
 'sharesShort': 39634230,
 'sharesShortPreviousMonthDate': 1598832000,
 'sharesShortPriorMonth': 36458662,
 'shortName': 'Microsoft Corporation',
 'shortPercentOfFloat': 0.0053,
 'shortRatio': 1.09,
 'startDate': None,
 'state': 'WA',
 'strikePrice': None,
 'symbol': 'MSFT',
 'threeYearAverageReturn': None,
 'toCurrency': None,
 'totalAssets': None,
 'tradeable': False,
 'trailingAnnualDividendRate': 2.04,
 'trailingAnnualDividendYield': 0.009236621,
 'trailingEps': 5.76,
 'trailingPE': 38.135414,
 'twoHundredDayAverage': 196.80064,
 'volume': 22733064,
 'volume24Hr': None,
 'volumeAllCurrencies': None,
 'website': 'http://www.microsoft.com',
 'yield': None,
 'ytdReturn': None,
 'zip': '98052-6399'}

In [ ]:
# Obtener datos históricos de mercado.
hist = TK.history(period="max")
hist

                  Open        High  ...  Dividends  Stock Splits
Date                                ...
1986-03-13    0.056514    0.064825  ...        0.0           0.0
1986-03-14    0.062055    0.065379  ...        0.0           0.0
1986-03-17    0.064271    0.065933  ...        0.0           0.0
1986-03-18    0.065379    0.065933  ...        0.0           0.0
1986-03-19    0.063717    0.064271  ...        0.0           0.0
...                ...         ...  ...        ...           ...
2020-10-09  211.229996  215.860001  ...        0.0           0.0
2020-10-12  218.789993  223.860001  ...        0.0           0.0
2020-10-13  222.720001  225.210007  ...        0.0           0.0
2020-10-14  223.000000  224.220001  ...        0.0           0.0
2020-10-15  217.100006  220.360001  ...        0.0           0.0

[8721 rows x 7 columns]

In [15]:
#para descragar precios de múltiples acciones hacemos lo siguiente.
tickers = ["MSFT", "AAPL", "GOOG"] #creamos una lista con todos los tickers que queremos.
data = yf.download(tickers, start="2020-10-10", end="2020-10-16", group_by='column', interval = "1m")  #viene group_by='column' por defecto. A intervalos de 1 minuto.
data

[*********************100%***********************]  3 of 3 completed

                            Adj Close               ...   Volume
                                 AAPL         GOOG  ...     GOOG     MSFT
Datetime                                            ...
2020-10-12 09:30:00-04:00  119.575203  1539.845825  ...  69616.0  1426929
2020-10-12 09:31:00-04:00  119.690002  1536.729980  ...  14506.0   255290
2020-10-12 09:32:00-04:00  119.860001  1536.000000  ...  10699.0   183313
2020-10-12 09:33:00-04:00  120.000000  1534.160034  ...  10674.0   194819
2020-10-12 09:34:00-04:00  120.239998  1538.530029  ...  15981.0   147195
...                               ...          ...  ...      ...      ...
2020-10-15 15:55:00-04:00  120.766197  1558.145020  ...   9958.0   159252
2020-10-15 15:56:00-04:00  120.800003  1558.844971  ...   5401.0   148707
2020-10-15 15:57:00-04:00  120.699997  1558.219971  ...  16569.0   157638
2020-10-15 15:58:00-04:00  120.697502  1559.750000  ...  11697.0   213729
2020-10-15 15:59:00-04:00  120.699997  1558.680054  ...  38956.0   522016

[1560 rows x 18 columns]

In [ ]:
# Mostrar las veces que se hicieron Stock splits y se repartió dividendos.
TK.actions

            Dividends  Stock Splits
Date
1987-09-21       0.00           2.0
1990-04-16       0.00           2.0
1991-06-27       0.00           1.5
1992-06-15       0.00           1.5
1994-05-23       0.00           2.0
...               ...           ...
2019-08-14       0.46           0.0
2019-11-20       0.51           0.0
2020-02-19       0.51           0.0
2020-05-20       0.51           0.0
2020-08-19       0.51           0.0

[76 rows x 2 columns]

In [ ]:
# Muestra los dividendos repartidos.
TK.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2019-08-14    0.46
2019-11-20    0.51
2020-02-19    0.51
2020-05-20    0.51
2020-08-19    0.51
Name: Dividends, Length: 67, dtype: float64

In [ ]:
# show financials NO FUNCIONA
TK.financials

In [ ]:
msft.quarterly_financials #NO FUNCIONA

In [ ]:
# muestra a los principales titulares
TK.major_holders

        0                                      1
0   1.42%        % of Shares Held by All Insider
1  74.09%       % of Shares Held by Institutions
2  75.16%        % of Float Held by Institutions
3    4630  Number of Institutions Holding Shares

In [ ]:
 # muestra a los titulares institucionales
TK.institutional_holders

                              Holder     Shares  ...   % Out         Value
0         Vanguard Group, Inc. (The)  632013255  ...  0.0835  128621017525
1                     Blackrock Inc.  521841633  ...  0.0690  106199990731
2           State Street Corporation  314554694  ...  0.0416   64015025775
3                           FMR, LLC  236873992  ...  0.0313   48206226111
4      Price (T.Rowe) Associates Inc  183090016  ...  0.0242   37260649156
5            Capital World Investors  122923512  ...  0.0162   25016163927
6      Geode Capital Management, LLC  116688974  ...  0.0154   23747373098
7    Capital International Investors   98209725  ...  0.0130   19986661134
8  Capital Research Global Investors   94081197  ...  0.0124   19146464401
9         Northern Trust Corporation   93331898  ...  0.0123   18993974561

[10 rows x 5 columns]

In [ ]:
# show balance sheet. NO FUNCIONA
msft.balance_sheet
msft.quarterly_balance_sheet

In [ ]:
# show cashflow NO FUNCIONA
TK.cashflow
TK.quarterly_cashflow

In [ ]:
# show earnings NO FUNCIONA
#TK.earnings
TK.quarterly_earnings

In [ ]:
# Muestra la sostenibilidad de la empresa.
TK.sustainability

                                     Value
2020-10
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           9.37
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              103
governanceScore                       5.09
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             14.94
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                            7.18
peerGroup              Software & Services
smallArms                            False
environmentScore                      0.47
governancePercentile                  None
militaryContract                     False

In [ ]:
# muestra las recomendaciones de diferentes analistas.
TK.recommendations

                               Firm       To Grade  From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                 up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy               main
2012-03-22 07:03:00  Morgan Stanley     Overweight               main
2012-04-03 11:53:00             UBS            Buy               main
2012-04-20 06:18:00   Deutsche Bank            Buy               main
...                             ...            ...         ...    ...
2020-07-20 14:48:02   Raymond James     Strong Buy               main
2020-07-23 08:43:04   Piper Sandler     Overweight               main
2020-07-23 13:06:12     Oppenheimer        Perform  Outperform   down
2020-09-09 12:01:51  Morgan Stanley     Overweight               main
2020-10-13 16:40:00     RBC Capital     Outperform               main

[281 rows x 4 columns]

In [ ]:
# muestra el calendario de su próxima presentación (earnings, etc)
TK.calendar

                                Value
Earnings Date     2020-10-27 00:00:00
Earnings Average                 1.54
Earnings Low                     1.49
Earnings High                    1.61
Revenue Average           35720400000
Revenue Low               35299100000
Revenue High              36394000000

In [ ]:
# Muestra el ISIN de la empresa (ISIN = International Securities Identification Number).
TK.isin

'US5949181045'

In [ ]:
# muestra las fechas en que expiran las opciones.
TK.options

('2020-10-16',
 '2020-10-23',
 '2020-10-30',
 '2020-11-06',
 '2020-11-13',
 '2020-11-20',
 '2020-11-27',
 '2020-12-18',
 '2021-01-15',
 '2021-02-19',
 '2021-03-19',
 '2021-04-16',
 '2021-06-18',
 '2021-07-16',
 '2021-09-17',
 '2022-01-21',
 '2022-03-18',
 '2022-06-17',
 '2022-09-16',
 '2023-01-20')

In [ ]:
# obtener la lista de opciones para una expiración específica
opt = TK.option_chain('2020-10-16')
# data available via: opt.calls, opt.puts
opt

Options(calls=         contractSymbol       lastTradeDate  ...  contractSize  currency
0   MSFT201016C00080000 2020-10-15 13:39:44  ...       REGULAR       USD
1   MSFT201016C00085000 2020-10-15 19:41:12  ...       REGULAR       USD
2   MSFT201016C00090000 2020-10-12 14:02:59  ...       REGULAR       USD
3   MSFT201016C00095000 2020-10-05 19:39:25  ...       REGULAR       USD
4   MSFT201016C00100000 2020-10-02 14:57:54  ...       REGULAR       USD
5   MSFT201016C00105000 2020-10-05 19:39:25  ...       REGULAR       USD
6   MSFT201016C00110000 2020-10-07 17:44:51  ...       REGULAR       USD
7   MSFT201016C00115000 2020-10-12 19:58:37  ...       REGULAR       USD
8   MSFT201016C00120000 2020-10-15 19:41:44  ...       REGULAR       USD
9   MSFT201016C00125000 2020-10-15 16:17:13  ...       REGULAR       USD
10  MSFT201016C00130000 2020-10-07 13:44:33  ...       REGULAR       USD
11  MSFT201016C00135000 2020-10-12 19:59:03  ...       REGULAR       USD
12  MSFT201016C00140000 2020-10-12 14:53:47  ...       REGULAR       USD
13  MSFT201016C00145000 2020-10-15 18:14:17  ...       REGULAR       USD
14  MSFT201016C00150000 2020-10-15 19:00:59  ...       REGULAR       USD
15  MSFT201016C00155000 2020-10-15 19:25:12  ...       REGULAR       USD
16  MSFT201016C00160000 2020-10-15 19:02:37  ...       REGULAR       USD
17  MSFT201016C00165000 2020-10-15 19:35:44  ...       REGULAR       USD
18  MSFT201016C00170000 2020-10-15 19:56:38  ...       REGULAR       USD
19  MSFT201016C00175000 2020-10-15 19:24:37  ...       REGULAR       USD
20  MSFT201016C00180000 2020-10-15 19:44:52  ...       REGULAR       USD
21  MSFT201016C00185000 2020-10-15 19:26:53  ...       REGULAR       USD
22  MSFT201016C00187500 2020-10-14 13:48:17  ...       REGULAR       USD
23  MSFT201016C00190000 2020-10-15 19:34:48  ...       REGULAR       USD
24  MSFT201016C00192500 2020-10-15 16:15:43  ...       REGULAR       USD
25  MSFT201016C00195000 2020-10-15 19:36:26  ...       REGULAR       USD
26  MSFT201016C00197500 2020-10-14 15:54:02  ...       REGULAR       USD
27  MSFT201016C00200000 2020-10-15 19:58:44  ...       REGULAR       USD
28  MSFT201016C00202500 2020-10-15 19:59:19  ...       REGULAR       USD
29  MSFT201016C00205000 2020-10-15 19:56:57  ...       REGULAR       USD
30  MSFT201016C00207500 2020-10-15 19:46:25  ...       REGULAR       USD
31  MSFT201016C00210000 2020-10-15 19:58:59  ...       REGULAR       USD
32  MSFT201016C00212500 2020-10-15 19:56:33  ...       REGULAR       USD
33  MSFT201016C00215000 2020-10-15 19:59:49  ...       REGULAR       USD
34  MSFT201016C00217500 2020-10-15 19:59:52  ...       REGULAR       USD
35  MSFT201016C00220000 2020-10-15 19:59:56  ...       REGULAR       USD
36  MSFT201016C00222500 2020-10-15 19:59:40  ...       REGULAR       USD
37  MSFT201016C00225000 2020-10-15 19:59:54  ...       REGULAR       USD
38  MSFT201016C00227500 2020-10-15 19:59:20  ...       REGULAR       USD
39  MSFT201016C00230000 2020-10-15 19:58:14  ...       REGULAR       USD
40  MSFT201016C00235000 2020-10-15 19:55:30  ...       REGULAR       USD
41  MSFT201016C00240000 2020-10-15 18:45:56  ...       REGULAR       USD
42  MSFT201016C00245000 2020-10-15 18:17:05  ...       REGULAR       USD
43  MSFT201016C00250000 2020-10-15 18:37:41  ...       REGULAR       USD
44  MSFT201016C00255000 2020-10-15 17:32:50  ...       REGULAR       USD
45  MSFT201016C00260000 2020-10-14 13:44:25  ...       REGULAR       USD
46  MSFT201016C00265000 2020-10-13 15:24:01  ...       REGULAR       USD
47  MSFT201016C00270000 2020-10-13 14:09:28  ...       REGULAR       USD
48  MSFT201016C00275000 2020-10-12 17:30:32  ...       REGULAR       USD
49  MSFT201016C00280000 2020-10-08 17:14:40  ...       REGULAR       USD
50  MSFT201016C00285000 2020-10-12 14:20:16  ...       REGULAR       USD
51  MSFT201016C00290000 2020-10-07 19:49:34  ...       REGULAR       USD
52  MSFT201016C00295000 2020-10-14 17:34:39  ...       REGULAR       USD
53  MSFT201016C00300000 2020-10-12 16:01:56  ...       REGULAR       USD

[54 rows x 14 columns], puts=         contractSymbol       lastTradeDate  ...  contractSize  currency
0   MSFT201016P00080000 2020-10-15 17:26:54  ...       REGULAR       USD
1   MSFT201016P00085000 2020-09-15 18:14:44  ...       REGULAR       USD
2   MSFT201016P00090000 2020-10-12 19:17:44  ...       REGULAR       USD
3   MSFT201016P00095000 2020-10-08 16:40:00  ...       REGULAR       USD
4   MSFT201016P00100000 2020-10-08 18:39:31  ...       REGULAR       USD
5   MSFT201016P00105000 2020-09-24 15:41:49  ...       REGULAR       USD
6   MSFT201016P00110000 2020-10-05 18:43:12  ...       REGULAR       USD
7   MSFT201016P00115000 2020-10-05 13:36:18  ...       REGULAR       USD
8   MSFT201016P00120000 2020-10-15 19:15:18  ...       REGULAR       USD
9   MSFT201016P00125000 2020-10-07 13:41:12  ...       REGULAR       USD
10  MSFT201016P00130000 2020-10-12 13:30:01  ...       REGULAR       USD
11  MSFT201016P00135000 2020-10-09 15:58:32  ...       REGULAR       USD
12  MSFT201016P00140000 2020-10-09 17:40:02  ...       REGULAR       USD
13  MSFT201016P00145000 2020-10-15 14:52:52  ...       REGULAR       USD
14  MSFT201016P00150000 2020-10-14 17:07:52  ...       REGULAR       USD
15  MSFT201016P00155000 2020-10-12 17:36:51  ...       REGULAR       USD
16  MSFT201016P00160000 2020-10-15 14:24:46  ...       REGULAR       USD
17  MSFT201016P00165000 2020-10-15 14:00:39  ...       REGULAR       USD
18  MSFT201016P00170000 2020-10-15 14:16:20  ...       REGULAR       USD
19  MSFT201016P00175000 2020-10-15 19:32:42  ...       REGULAR       USD
20  MSFT201016P00180000 2020-10-15 18:56:37  ...       REGULAR       USD
21  MSFT201016P00185000 2020-10-15 19:41:43  ...       REGULAR       USD
22  MSFT201016P00187500 2020-10-15 16:17:46  ...       REGULAR       USD
23  MSFT201016P00190000 2020-10-15 19:53:13  ...       REGULAR       USD
24  MSFT201016P00192500 2020-10-15 19:22:35  ...       REGULAR       USD
25  MSFT201016P00195000 2020-10-15 19:53:13  ...       REGULAR       USD
26  MSFT201016P00197500 2020-10-15 19:45:57  ...       REGULAR       USD
27  MSFT201016P00200000 2020-10-15 19:59:03  ...       REGULAR       USD
28  MSFT201016P00202500 2020-10-15 19:40:35  ...       REGULAR       USD
29  MSFT201016P00205000 2020-10-15 19:59:03  ...       REGULAR       USD
30  MSFT201016P00207500 2020-10-15 19:53:45  ...       REGULAR       USD
31  MSFT201016P00210000 2020-10-15 19:59:11  ...       REGULAR       USD
32  MSFT201016P00212500 2020-10-15 19:59:48  ...       REGULAR       USD
33  MSFT201016P00215000 2020-10-15 19:59:48  ...       REGULAR       USD
34  MSFT201016P00217500 2020-10-15 19:59:33  ...       REGULAR       USD
35  MSFT201016P00220000 2020-10-15 19:59:29  ...       REGULAR       USD
36  MSFT201016P00222500 2020-10-15 19:59:52  ...       REGULAR       USD
37  MSFT201016P00225000 2020-10-15 19:47:46  ...       REGULAR       USD
38  MSFT201016P00227500 2020-10-15 19:26:25  ...       REGULAR       USD
39  MSFT201016P00230000 2020-10-15 19:57:30  ...       REGULAR       USD
40  MSFT201016P00235000 2020-10-15 18:52:44  ...       REGULAR       USD
41  MSFT201016P00240000 2020-10-15 18:52:44  ...       REGULAR       USD
42  MSFT201016P00245000 2020-10-15 14:15:03  ...       REGULAR       USD
43  MSFT201016P00250000 2020-10-09 18:13:45  ...       REGULAR       USD
44  MSFT201016P00255000 2020-10-14 14:42:02  ...       REGULAR       USD
45  MSFT201016P00260000 2020-10-08 15:07:16  ...       REGULAR       USD
46  MSFT201016P00265000 2020-09-24 18:51:15  ...       REGULAR       USD
47  MSFT201016P00270000 2020-09-30 13:40:27  ...       REGULAR       USD
48  MSFT201016P00275000 2020-10-06 19:52:40  ...       REGULAR       USD
49  MSFT201016P00280000 2020-09-17 16:07:57  ...       REGULAR       USD
50  MSFT201016P00285000 2020-09-23 14:35:31  ...       REGULAR       USD
51  MSFT201016P00290000 2020-10-07 16:27:07  ...       REGULAR       USD
52  MSFT201016P00295000 2020-10-15 19:43:23  ...       REGULAR       USD
53  MSFT201016P00300000 2020-10-15 19:43:23  ...       REGULAR       USD

[54 rows x 14 columns])

In [ ]:
# Muestra los splits realizados.
TK.splits

Date
1987-09-21    2.0
1990-04-16    2.0
1991-06-27    1.5
1992-06-15    1.5
1994-05-23    2.0
1996-12-09    2.0
1998-02-23    2.0
1999-03-29    2.0
2003-02-18    2.0
Name: Stock Splits, dtype: float64

In [ ]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "AAPL", "MSFT",

        # podemos usar "period" en vez de start/end
        # periodos válidos: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (opcional, por defecto es '1mo')
        period = "ytd",

        # recuperar datos por intervalo (incluido intradía si el período es <60 días)
        # intervalos válidos: 1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo
        # (opcional, por defecto es '1d')
        interval = "1m",

        # agrupar por ticker (para acceder a través de datos ['SPY'])
        # (opcional, por defecto es 'column')
        group_by = 'ticker',

        # ajustar todos los OHLC automáticamente
        # (opcional, por defecto es False)
        auto_adjust = True,

        # descargar datos previos / posteriores al horario habitual del mercado
        # (opcional, por defecto es False)
        prepost = True,

        # usar hilos para descargas masivas? (True/False/Integer)
        # (opcional, por defecto es True)
        threads = True,

        # proxy URL, uso del esquema uso al descargar?
        # (opcional, por defecto es None)
        proxy = None
    )